{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "eol-last": "off",
    "linebreak-style": ["error", "windows"],
    "quotes": "double",
    "require-jsdoc": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
